<div fxLayout="column">
  <div fxLayoutAlign="center">
    <img src="assets/img/icons/alerts/error.png" class="alert-logo" alt="success logo">
  </div>
  <div fxLayoutAlign="center">
    <h2>{{'fakeLoginError' | translate}}</h2>
  </div>
</div>