<mat-toolbar>
  <mat-toolbar-row>
    <span>{{'appName' | translate}}</span>
    <span class="example-spacer"></span>

    <div class="button-container" fxFlex="40">
      <div *ngFor="let item of menuItems">
        <a mat-raised-button routerLink="{{item.link}}">
          {{item.name | translate | uppercase}}
        </a>
      </div>
    </div>

    <div fxFlex class="text--right">
      <!-- <app-search-bar></app-search-bar> -->
      <button mat-icon-button [matMenuTriggerFor]="matmenu">
        <mat-icon>public</mat-icon>
      </button>
      <mat-menu #matmenu="matMenu">
        <button mat-menu-item (click)="changeLanguage('es')">
          <mat-icon>flag</mat-icon>
          <span>
            Español
          </span>
        </button>
        <button mat-menu-item (click)="changeLanguage('en')">
          <mat-icon>flag</mat-icon>
          <span>
            English
          </span>
        </button>
      </mat-menu>
      <!-- <a class="icon__image" href="{{appConfig.repositoryURL}}" target="_blank">
        <img src="assets/images/github-circle-white-transparent.svg">
      </a> -->
    </div>
    
  </mat-toolbar-row>
</mat-toolbar>