<div class="mat-typography app-frame mat-app-background">
  <app-header></app-header>
  <router-outlet *ngIf="isOnline;else isOffline"></router-outlet>
  <ng-template #isOffline>
    <div>
      <p class="offline-error">{{'offlineMessage' | translate}}&nbsp;&nbsp;&nbsp;<span>:&nbsp;)</span></p>
    </div>
  </ng-template>
</div>
<app-footer></app-footer>