<div fxLayout="column">
  <div fxLayoutAlign="center">
    
    <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
    
          <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef> {{'creationDate' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.creationDate | date: 'dd/MM/yyyy HH:mm a'}} </td>
          </ng-container>
        
          <ng-container matColumnDef="editionDate">
            <th mat-header-cell *matHeaderCellDef> {{'editionDate' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.editionDate | date: 'dd/MM/yyyy HH:mm a'}} </td>
          </ng-container>
        
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> {{'email' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
        
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{'name' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> {{'actions' | translate}} </th>
            <td mat-cell *matCellDef="let element">
              <div class="button-container">
                <button mat-menu-item routerLink="{{element.id}}">
                  <mat-icon>info</mat-icon>
                </button>
              </div>        
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
</div>

<router-outlet></router-outlet>