<div fxLayout="column">
    <div fxLayoutAlign="center">
        <img src="assets/img/icons/alerts/error.png" class="alert-logo" alt="success logo">
    </div>
    <div fxLayoutAlign="center">
        <h1 class="header__title">{{'error404' | translate}}</h1>
    </div>
</div>