<div fxLayout="column">
  <div fxLayoutAlign="center">
    <img src="assets/img/icons/alerts/success.png" class="alert-logo" alt="success logo">
  </div>
  <div fxLayoutAlign="center">
    <h2>{{'fakeLoginSuccess' | translate}}</h2>
  </div>
</div>