<div fxLayoutAlign="center">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <div class="button-container" fxFlex="40">
        <div *ngFor="let item of menuItems">
          <a mat-raised-button routerLink="{{item.link}}">
            {{item.name | translate | uppercase}}
          </a>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>

<router-outlet></router-outlet>