<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color: #292929;width: 100% !important;height: 100%;line-height: 1.6;">

	<table style="background-color: #292929;width: 100%;margin: 0;padding: 0;font-family: Helvetica, Arial, sans-serif;">
		<tr>
			<td style="vertical-align: top;"></td>
			<td style="display: block !important;max-width: 600px !important;margin: 0 auto !important;clear: both !important;">
				<div style="max-width: 600px;margin: 0 auto;display: block;padding: 20px;">
					<table style="background: #292929;color: #676a6c;width: 100%;border: 1px solid #292929;border-radius: 3px;">
						<tr>
							<td>
								<div style="text-align: center;">
									<img style="max-width: 300px;" src="../img/main_logo.png" th:src="|cid:${mainLogo}|" />
								</div>
							</td>
						</tr>
						<tr>
							<td style="background: #2E7D2E;font-size: 16px;color: #fff;font-weight: 500;padding: 20px;text-align: center;border-radius: 3px 3px 0 0;">
								<span th:text="${title}">Title</span>
							</td>
						</tr>
						<tr>
							<td style="padding: 20px;">
								<div style="text-align: center;">
									<span th:text="${message}">Message</span>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div style="text-align: center;">
									<a style="background-color: #2E7D2E;color: #FFFFFF;border-radius: 3px;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;border: 1px solid transparent;text-decoration: none;"
									 href="#" th:href="${fakeLoginUrl}" target="_blank">
										Access the benefit
									</a>
								</div>							
							</td>
						</tr>
					</table>
					<div style="clear: both;color: #999;padding: 20px;">
						<table style="width: 100%;">
							<!-- 
							<tr>
								<td class="aligncenter content-block"><a href="#">Unsubscribe</a> from these alerts.</td>
							</tr>
							-->
							<tr>
								<td style="font-size: 12px;text-align: center;padding: 0 0 20px;">
							    	<div th:text="${copyrightText}">Copyright &copy; 2019, All rights reserved</div>
							    </td>
							</tr>
<!-- 							<tr> -->
<!-- 								<td style="font-size: 12px;text-align: center;padding: 0 0 20px;"> -->
<!-- 							    	Por favor, no responda a este mensaje, ya que solo realiza funciones de distribución de correo. -->
<!-- 							    </td> -->
<!-- 							</tr> -->
						</table>
					</div>
				</div>
			</td>
			<td></td>
		</tr>
	</table>
	
</body>
</html>