<div fxLayout="column">
  <div fxLayoutAlign="center">
    <h2>{{'fakeLoginMessage' | translate}}</h2>
  </div>
  <div fxLayoutAlign="center">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <a mat-button [attr.href]="authUrl('microsoft')">
          <img src="assets/img/icons/social/outlook.svg" alt="outlook logo">
        </a>
      </mat-list-item>
    </mat-list>
  </div>
</div>